Journal/cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/
Journal/proj.ios_mac/Build/
Journal/proj.ios_mac/Index/
Journal/proj.ios_mac/Journal.xcodeproj/project.xcworkspace/
Journal/proj.ios_mac/Journal.xcodeproj/xcuserdata/
